.flame-border {
  position: relative;
  border-radius: 0.5rem;
  box-shadow:
    0 0 7px 3px #ff9900,
    0 0 10px 5px #ff3300,
    0 0 15px 10px #ffff00;
  animation: flameGlow 1s infinite alternate;
}

@keyframes flameGlow {
  0% {
    box-shadow:
      0 0 7px 3px #ff9900,
      0 0 10px 5px #ff3300,
      0 0 15px 10px #ffff00;
  }
  100% {
    box-shadow:
      0 0 10px 5px #ffcc00,
      0 0 15px 10px #ff6600,
      0 0 22px 15px #ffff33;
  }
}
